{% extends 'base.html'%}

{% block head %}Task manager{% endblock %}

{% block body %}
<div class="content">
    <h1>Task Manager</h1>
    <form id="contentform" method="post">
        <input type="text" name="content" id="content">
        <input type="submit" value = "Add your Task" id = "button">
    </form>
</div>
    {% if quotes|length <1 %}

    <h2>There are no tasks!</h2>

    {% else %}

    <div class="container">
        <div class="portfolio-items-wrapper">
            {%for x in quotes%}
            <div class="portfolio-item-wrapper">
                <div
                  class="portfolio-img-background"
                  style="background-image: url({{ url_for('static', filename = 'paper.png') }})"
                ></div>
                <div class="img-text-wrapper">
                    {{ x.content }}
                    <br>
                    {{ x.date_created.date() }}
                    <a href="/update/{{x.id}}">Update</a>
                    <br>
                    <a href="/delete/{{x.id}}">Delete</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
{% endblock %}